body{

  margin: 0px;  
  font-family: "Courier New";
  background-color: #ffbe0a;
  background-image: url(eggplant.png);
  /*background-image: cross-fade(url(eggplant.png), url(var(--transparentImg)), 20%);*/
  background-blend-mode: soft-light;
  background-position: 40px 69px;

  h1{
    font-size: 36px;
    color: #550b60;
    font-weight: 600;
  }

  a{
    font-weight: 800;
    color: #081F05;
    text-decoration: none;
  }

  img{
    max-width: 100%;
  }

  .recipe_list_item{}

  header{
    display: flex;
    flex-direction: row;
    height:64px;
    background-color: #ff841f;
  }

  .to_frontpage{
    width: 48px;
    padding: 8px;
  }

  nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0px 0px 0px 8px;
  }

  nav > ul > li{
    font-weight: bold;
    padding: 8px 16px 8px 16px;
    color: #081F05;
  }

  .layout{
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }

  .sidebar{ 
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100vh;
    padding: 4px 4px 0px 4px;
    overflow: hidden;    
  }

  .sidebar > img{
    width: 48px;
    margin: 4px;
  }

  .main{
    width: calc(100%-80px);
    margin: 8px 16px 8px 16px;
  }
}
