body{

  margin: 0px;  
  font-family: "Courier New";
  background-color: #ffbe0a;

  h1{
    font-size: 36px;
    color: #550b60;
    font-weight: 600;
  }

  header{
    height:40px;
    background-color: #ff841f;
  }

  .layout{
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }

  .sidebar{ 
    display: flex;
    flex-direction: column;
    width: 8%;
    height: 100vh;
    margin: 4px 4px 0px 4px;
    overflow: hidden;    
  }

  .sidebar > img{
    width: 90%;
    margin: 5%;
  }

  .main{
    width: 92%;
    margin: 8px 16px 8px 16px;
  }
}
