body{

  margin: 0px;  
  font-family: "Courier New";
  background-color: #ffbe0a;

  h1{
    font-size: 36px;
    color: #550b60;
    font-weight: 600;
  }

  img{
    max-width: 100%;
  }

  header{
    display: flex;
    flex-direction: row;
    height:64px;
    background-color: #ff841f;
  }

  .to_frontpage{
    width: 48px;
    padding: 8px;
  }

  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .layout{
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }

  .sidebar{ 
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100vh;
    padding: 4px 4px 0px 4px;
    overflow: hidden;    
  }

  .sidebar > img{
    width: 48px;
    margin: 4px;
  }

  .main{
    width: calc(100%-80px);
    margin: 8px 16px 8px 16px;
  }
}
