{% extends "layout.html" %}

{% block title %}Muokkaa reseptiä{% endblock %}

{% block content %}
<h1>Muokkaa reseptiä {{ recipe.name }}</h1>
<form action="/tallenna" method="post">
  <p>Reseptin nimi:
    <input type="text" maxlength="60" name="name" value="{{ recipe.name }}" />
  </p>
  <p>Ohje:
    <input type="text" name="instructions" value="{{ recipe.instructions }}" />
  </p>
  <input type="hidden" name="recipe_id" value="{{ recipe.id }}" />
  <p>Reseptin kuva:
    <input type="file" class="secondary_button" name="image" id="image" accept=".jpg" />
  </p>
  {% if message %}
  <p><strong>{{ message }}</strong></p>
  {% endif %}
  <input type="submit" class="primary_button" value="Tallenna resepti" />
</form>
<p>
  <a class="secondary_button" href="/resepti/{{ recipe.slug }}">Palaa reseptiin</a>
</p>
{% endblock %}
