<!DOCTYPE html>
<html>

<head>
  <title>Reseptikirjasto</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" type="image/x-icon" href="/static/eggplant.png">
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/static/eggplant.png" />
</head>

<body>
  <div class="layout">
    <div class="sidebar">
      <img width="100%" src="/static/eggplant.png" alt="Munakoiso">
    </div>
    <div class="main"> 
      <h1>Tervetuloa reseptikirjastoon</h1>
      <img src="static/rowling cancelled.jpg" width="100%" />
    </div>
  </div>
</body>

</html>
