{% extends "layout.html" %}

{% set title = "Kirjaudu sisään" %}

{% block content %}
<form action="/kirjaasisaan" method="post">
  <p>Käyttäjänimi
    <input type="text" name="username" maxlength="20" required />
  </p>
  <p>Salasana
    <input type="text" name="password" maxlength="30" required />
  </p>
  <p>
    {% if message %}
    <strong>{{ message }}</strong>
    {% endif %}
  </p>
  <input type="submit" class="primary_button" value="Kirjaudu sisään" />
</form>
<h2>Etkö ole vielä käyttäjä?</h2>
<a class="secondary_button" href="/rekisteroidy">Rekisteröidy</a>
{% endblock %}