{% extends "layout.html" %}

{% set title = "Kirjaudu sisään" %}

{% block content %}
<form action="/kirjaasisaan" method="post">
  <p><label for="username">Käyttäjänimi</label><br>
    <input type="text" id="username" name="username" value="{{ filled.username }}" maxlength="20" required />
  </p>
  <p><label for="password">Salasana</label><br>
    <input id="password" type="text" name="password" maxlength="30" required />
  </p>
  {% if message %}
  <p class="error">{{ message }}</p>
  {% endif %}
  <input type="submit" class="primary_button" value="Kirjaudu sisään" />
</form>
<h2>Etkö ole vielä käyttäjä?</h2>
<a class="secondary_button" href="/rekisteroidy">Rekisteröidy</a>
{% endblock %}