{% extends "layout.html" %}

{% set title = "Uusi resepti" %}

{% block content %}
{% if message %}
<p class="error">{{ message }}</p>
{% endif %}
<form action="/uusi" method="post" enctype="multipart/form-data">
  <h2><label for="name">Reseptin nimi:</label></h2>
  <input id="name" type="text" maxlength="60" size="30" name="name" value="{{ name }}" />
    <h2><label for="tag">Avainsanat</label></h2>
  {% for rtag in tags %}
  <select name="tag" id="tag">
  <option value="{{ rtag.name }}"></option>
  {% for tag in all_tags %}
    {% if tag.name == rtag.name %}
    <option value="{{ tag.name }}" selected>{{ tag.name }}</option>
    {% else %}
    <option value="{{ tag.name }}">{{ tag.name }}</option>
    {% endif %}
  {% endfor %}
  </select>
  <br>
  {% endfor %}
  <input type="submit" name="action" class="secondary_button" value="Lisää avainsana" />
  <h2><label for="ingredients">Ainesosat:</label></h2>
  {% for i in ingredients %}
    <input id="ingredients" type="text" maxlength="20" size="20" name="ingredient" value="{{ i }}" />
    <br>
  {% endfor %}
  <br>
  <input type="submit" name="action" class="secondary_button" value="Lisää ainesosa" />
  <h2><label for="instructions">Ohje:</label></h2>
    <textarea id="instructions" type="textarea" cols="60" size="300" rows="6" name="instructions" value="{{ instructions }}"></textarea>
  <h2><label for="image">Reseptin kuva:</label></h2>
    <input type="file" class="secondary_button" name="image" id="image" accept=".jpg" value="{{ imagefile }}" />
  {% if message %}
  <p class="error">{{ message }}</p>
  {% endif %}
  <p></p>
  <input type="submit" name="action" class="primary_button" value="Tallenna resepti" />
</form>
{% endblock %}