{% extends "layout.html" %}

{% set title = "Uusi resepti" %}

{% block content %}
<form action="/uusi" method="post" enctype="multipart/form-data">
  <p>Reseptin nimi:
    <input type="text" maxlength="60" name="name" />
  </p>
  <p>Ohje:
    <input type="text" name="instructions" />
  </p>
  <p>Reseptin kuva:
    <input type="file" class="secondary_button" name="image" id="image" accept=".jpg" />
  </p>
  {% if message %}
  <p><strong>{{ message }}</strong></p>
  {% endif %}
  <input type="submit" class="primary_button" value="Tallenna resepti" />
</form>
{% endblock %}
