{% extends "recipe_list.html" %}

{% set title = "Omat reseptisi" %}

{% block content %}
<p>Olet lisännyt yhteensä {{ recipes | length }} reseptiä ja xx kommenttia</p>
{% if recipes %}
<form action="/omatreseptit/haku" method="get">
  <p>
    Hakusana:
    {% if query %}
    <input type="text" name="query" value="{{ query }}" required />
    {% else %}
    <input type="text" name="query" required />
    {% endif %}
  </p>
  <input type="submit" class="secondary_button" value="Hae reseptejä" />
</form>
{% else %}
  <div style="margin-top: 36px">
    <a href="/uusiresepti" class="secondary_button">Lisää resepti</a>
  </div>
{% endif %}
{{ super() }}
{% endblock %}