{% extends "layout.html" %}

{% block content %}
<div class="recipe_list">
  {% if query and not results %}
  <p>Haulla ei löytynyt tuloksia.</p>
  {% elif query %}
  {% for result in results %}
  <div class="recipe_list_item">
    <a href="/resepti/{{ result.slug }}">
      {% if result.image %}
      <img src="data:image/jpeg;base64,{{ result['image'] }}" class="recipe_list_image" alt="{{ result.name }}">
      {% else %}
      <img class="recipe_list_image" src="/static/default.jpg" alt="Yleinen reseptikuva">
      {% endif %}
      <h2 class="recipe_list_name">
        {{ result.name }}
      </h2>
    </a>
  </div>
  {% endfor %}
  {% else %}
  {% for recipe in recipes %}
  <div class="recipe_list_item">
    <a href="/resepti/{{ recipe.slug }}">
      {% if recipe.image %}
      <img src="data:image/jpeg;base64,{{ recipe['image'] }}" class="recipe_list_image" alt="recipe.name">
      {% else %}
      <img class="recipe_list_image" src="/static/default.jpg" alt="Yleinen reseptikuva">
      {% endif %}
      <h2 class="recipe_list_name">
        {{ recipe.name }}
      </h2>
    </a>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}