{% extends "layout.html" %}

{% set title = "Rekisteröidy käyttäjäksi" %}

{% block content %}
<form action="/uusikayttaja" method="post">
  <p><label for="username">Käyttäjänimi</label><br>
    <input id="username" type="text" name="username" maxlength="20" value="{{ filled.username }}" required />
  </p>
  <p><label for="password1">Salasana</label><br>
    <input id="password1" type="text" name="password1" maxlength="30" required />
  </p>
  <p><label for="password2">Salasana uudelleen</label><br>
    <input id="password2" type="text" name="password2" maxlength="30" required />
  </p>
  {% if message %}
  <p class="error">{{ message }}</p>
  {% endif %}
  <input type="submit" class="primary_button" value="Lisää käyttäjä" />
</form>
{% endblock %}
