{% extends "layout.html" %}

{% set title = "Rekisteröidy käyttäjäksi" %}

{% block content %}
<form action="/uusikayttaja" method="post">
  <p>Käyttäjänimi
    <input type="text" name="username" maxlength="20" value="{{ filled.username }}" required />
  </p>
  <p>Salasana
    <input type="text" name="password1" maxlength="30" required />
  </p>
  <p>Salasana uudelleen
    <input type="text" name="password2" maxlength="30" required />
  </p>
  {% if message %}
  <p><strong>{{ message }}</strong></p>
  {% endif %}
  <input type="submit" class="primary_button" value="Lisää käyttäjä" />
</form>
{% endblock %}
