{% extends "layout.html" %}

{% set title = recipe.name %}

{% block content %}
<div style="display: flex; width: 100%">
  <div style="max-width: 600px; min-width: 300px; margin: 8px">
    <h2>Tekijä: <a style="text-decoration:underline;" href="/{{ username }}">{{ username }}</a></h2>
    {% for t in tags %}
    <p>{{ t.name }}</p>
    {% endfor %}
    <h2>Ainesosat</h2>
    {% if ingredients %}
    <ul>
      {% for i in ingredients %}
      <li>{{ i }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>-</p>
    {% endif %}
    <h2>Ohje</h2>
    {% if recipe.instructions %}
    <p>{{ recipe.instructions | show_lines }}</p>
    {% else %}
    <p>-</p>
    {% endif %}
    <br>
    {% if session.user_id == recipe.user_id %}
    <a class="secondary_button" href="/muokkaa/{{ recipe.slug }}">Muokkaa reseptiä</a>
    <a class="secondary_button" href="/poista/{{ recipe.slug }}">Poista resepti</a>
    {% endif %}¨
    <br>
  </div>
  <div style="max-width: 600px; min-width: 300px; margin: 8px">
    {% if recipe.image %}
    <img src="data:image/jpeg;base64,{{ recipe.image }}" class="recipe_list_image" alt="{{ recipe.name }}">
    {% endif %}
  </div>
</div>
<h2>Kommentit</h2>
{% if comments %}
<div class="comments">
  {% for comment in comments %}
    <div class="comment">
      <h3><a href="/{{ comment.username }}" style="text-decoration: underline;">{{ comment.username }}</a></h3>
      <p>{{ comment.sent_at }}</p>
      <p>{{ comment.comment | show_lines }}</p>
    </div>
  {% endfor %}
</div>
{% else %}
<p>Ei vielä kommentteja.</p>
{% endif %}
{% if session %}
<form method="post">
  <h2><label for="comment">Lisää kommentti</label></h2>
  {% if message %}
    <p>{{ message }}</p>
  {% endif%}
  <textarea id="comment" type="textarea" cols="40" size="240" rows="6" name="comment" value="{{ comment }}"></textarea><br>
  <input type="submit" name="action" class="secondary_button" value="Lisää kommentti" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
{% else %}
<a class="secondary_button" href="/kirjaudu">Kirjaudu kommentoidaksesi</a>
{% endif %}
{% endblock %}