{% extends "recipe_list.html" %}

{% set title = username %}

{% block content %}
{% if username == sessionuser %}
<p>Olet lisännyt yhteensä {{ recipes | length }} reseptiä ja {{ comments | length }} kommenttia.</p>
{% else %}
<p>Käyttäjä {{ username }} on lisännyt yhteensä {{ recipes | length }} reseptiä ja {{ comments | length }} kommenttia.</p>
{% endif %}
<br>
<h2>Käyttäjän {{ username }} reseptit</h2>
{% if recipes %}
<form action="/{{ username }}/haku" method="get">
  <p>
    <label for="query">Hakusana:</label><br>
    {% if query %}
    <input id="query" type="text" name="query" value="{{ query }}" required />
    {% else %}
    <input id="query" type="text" name="query" required />
    {% endif %}
  </p>
  <input type="submit" class="secondary_button" value="Hae reseptejä" />
</form>
{% elif username == sessionuser %}
  <div style="margin-top: 36px">
    <a href="/uusiresepti" class="secondary_button">Lisää resepti</a>
  </div>
{% endif %}
{{ super() }}
{% endblock %}